:root {
    --azul-1: hsl(225, 100%, 50%);
    --azul-2: hsl(225, 100%, 60%);
    --azul-3: hsl(225, 100%, 70%);
    --azul-4: hsl(225, 100%, 80%);
    --azul-5: hsl(225, 100%, 90%);
    --azul-6: hsl(225, 100%, 100%);
    --background: #fff;
    --text: #fff;
    --nav-bar: #000;
    --border: #000;
}
.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    gap: 0.5rem;
    margin: 0 1rem;
}

.frame {
    border: 2px solid #000;
    border-radius: 3px;
    margin: auto;
    position: relative;
}

img {
    width: 9rem;
    height: auto
}

/* frame on hover */
.frame:hover.grid-image:hover {
    border: 2px solid #0044ff;
}

.frame:not(:hover)>.nome-char {
    display: none
}

.frame:hover .nome-char {
    display: block
}

.nome-char {
    color: white;
    position: absolute;
    background-color: #04f;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    max-inline-size: 9rem;
}

/* Dark mode media queries */
@media screen and (prefers-color-scheme: dark) {}

.nav-bar-right {
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    transform: translateX(90%);
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-inline-size: 9rem;
}

.picked-img {
    margin: 0;
    border: 0;
}

.nav-bar-right:hover {
    transform: translateX(0%);
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

/* style links as buttons */
.nav-links {
    background-color: hsl(224, 100%, 50%);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.nav-links:hover {
    background-color: hsl(200, 100%, 50%);
    color: white;
}
